---
import Home from "../components/Home.tsx";
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>ryone.dev</title>
		<meta name="description" content="ryone website">
	</head>
	<body>
		<Home client:load />
	</body>
</html>
